@model XamarinHandsOnLabService.DataObjects.UserTasks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserTasks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckinId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckinId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Checkin_Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Checkin_Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Checkin_Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Checkin_Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckinDatetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckinDatetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condition1_Ttile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condition1_Ttile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condition1_Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condition1_Result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condition2_Ttile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condition2_Ttile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condition2_Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condition2_Result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condition3_Ttile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condition3_Ttile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condition3_Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condition3_Result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reported)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reported)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportedDatetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportedDatetime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
