@using XamarinHandsOnLabService.Helpers

@model IEnumerable<XamarinHandsOnLabService.DataObjects.UserTasks>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckinId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.GenerateQrCode(item.CheckinId)
            </td>
        </tr>
        <tr><td /><td /><td /></tr>
        <tr><td /><td /><td /></tr>
        <tr><td /><td /><td /></tr>
        <tr><td /><td /><td /></tr>
    }

</table>
